# ScalarField Assignemnt

### Tereza Martinkova
#### July 14, 2024

## Question 1

Write a Python function to calculate the trade performance of a given set of trades executed by a financial firm. The function should take a pandas DataFrame as input with the following columns:

- Date (datetime64[ns]): The date and time of the trade

- Symbol (string): The ticker symbol of the traded security

- Side (string): Either 'buy' or 'sell'

- Size (float, optional): The number of shares traded (default to 1 if not provided)

- Price (float): The price at which the trade was executed

Your task is to:

- #### Choose 10 financial metrics that you believe are the most important for tracking trade performance of a strategy.

- #### Write a function that takes in this DataFrame and computes these 10 metrics.

- #### Account for both long and short strategies in your calculations.

- #### Explain how you compute returns in the case of long-short strategies.

- #### You have access to an auxiliary function:

def getTickerPrice(ticker: str, date: datetime64[ns]) -> float: # This function returns the price of the security 'ticker' at the given 'date' # For the purpose of this exercise, assume it returns a random number
return random.uniform(1, 100) # Example implementation
Use this function to get the current market price of securities when needed for your calculations.

Your function should:

- Handle potential edge cases (e.g., empty DataFrame, missing values)

- Be efficient in its calculations

-  Return a dictionary or pandas Series with the computed metrics

- Please provide the implementation of your function along with comments explaining your choice of metrics and any important calculation details.

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

## EDA

In [3]:
data = pd.read_csv('/Users/terka/Desktop/ScalarField/testData.csv')
data.head()

,disclosureYear,disclosureDate,transactionDate,owner,ticker,assetDescription,type,amount,representative,district,capitalGainsOver200USD,option_symbol
0,2023,6/15/2023,5/20/2023,Spouse,AAPL,Apple Inc. Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,CA-12,Yes,NaN
1,2023,5/12/2023,4/10/2023,Self,GOOGL,Alphabet Inc. Stock,Sale (Full),"$50,001 - $100,000",Nancy Pelosi,CA-12,No,NaN
2,2023,12/29/2023,12/6/2022,Dependent,AMZN,AMZN Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,NY-14,Yes,NaN
3,2023,2/13/2022,4/14/2022,Self,AMZN,AMZN Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,FL-9,No,NaN
4,2023,6/23/2023,3/11/2022,Joint,MSFT,MSFT Stock,Purchase,"$1,001 - $15,000",Nancy Pelosi,CA-12,Yes,NaN

#### Get information about data

In [12]:
print(f'Shape:',data.shape)
print(f'Column types: \n',data.dtypes)

Shape: (102, 12)
Column types:
 disclosureYear             int64
disclosureDate            object
transactionDate           object
owner                     object
ticker                    object
assetDescription          object
type                      object
amount                    object
representative            object
district                  object
capitalGainsOver200USD    object
option_symbol             object
dtype: object

In [16]:
count_nan = data.isnull().sum()
count_nan

disclosureYear              0
disclosureDate              0
transactionDate             0
owner                       0
ticker                      0
assetDescription            0
type                        0
amount                      0
representative              0
district                    0
capitalGainsOver200USD      0
option_symbol             100
dtype: int64

### Handeling data

In [39]:
data['disclosureDate'] = pd.to_datetime(data['disclosureDate'])
data['transactionDate'] = pd.to_datetime(data['transactionDate'])
data['owner'] = data['owner'].astype('string')
data['ticker'] = data['ticker'].astype('string')
data['assetDescription'] = data['assetDescription'].astype('string')
data['type'] = data['type'].astype('string')
data['amount'] = data['amount'].astype('string')
data['representative'] = data['representative'].astype('string')
data['district'] = data['district'].astype('string')
data['capitalGainsOver200USD'] = data['capitalGainsOver200USD'].astype('string')

print(f'Column types: \n',data.dtypes)

Column types:
 disclosureYear                     int64
disclosureDate            datetime64[ns]
transactionDate           datetime64[ns]
owner                             string
ticker                            string
assetDescription                  string
type                              string
amount                            string
representative                    string
district                          string
capitalGainsOver200USD            string
option_symbol                     object
dtype: object

In [ ]:
option_df = data[~data['option_symbol'].isna()]
option_df

In [51]:
data = data.drop(columns=['option_symbol'])
data.head()

,disclosureYear,disclosureDate,transactionDate,owner,ticker,assetDescription,type,amount,representative,district,capitalGainsOver200USD
0,2023,2023-06-15,2023-05-20,Spouse,AAPL,Apple Inc. Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,CA-12,Yes
1,2023,2023-05-12,2023-04-10,Self,GOOGL,Alphabet Inc. Stock,Sale (Full),"$50,001 - $100,000",Nancy Pelosi,CA-12,No
2,2023,2023-12-29,2022-12-06,Dependent,AMZN,AMZN Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,NY-14,Yes
3,2023,2022-02-13,2022-04-14,Self,AMZN,AMZN Stock,Purchase,"$100,001 - $250,000",Nancy Pelosi,FL-9,No
4,2023,2023-06-23,2022-03-11,Joint,MSFT,MSFT Stock,Purchase,"$1,001 - $15,000",Nancy Pelosi,CA-12,Yes

In [52]:
count_nan_removed = data.isnull().sum()
count_nan_removed

disclosureYear            0
disclosureDate            0
transactionDate           0
owner                     0
ticker                    0
assetDescription          0
type                      0
amount                    0
representative            0
district                  0
capitalGainsOver200USD    0
dtype: int64